<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.Library" class="frostillicus.wrapbootstrap.ace1_3.library.AceLibrary"/>
	</extension>
   
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.stylekit.StyleKitFactory" class="frostillicus.wrapbootstrap.ace1_3.themes.AceStyleKitFactory" />
	</extension>

</plugin>
